<div class="container">
  <h2>Painel do Gestor</h2>

  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody *ngIf="despesas$ | async as despesas">
      <tr *ngFor="let d of despesas">
        <td>{{ tipoLabel(d.tipo) }}</td>
        <td>R$ {{ d.valor }}</td>
        <td>{{ d.data | date:'dd/MM/yyyy' }}</td>
        <td
          [ngClass]="{
            'status-aprovado': d.status === 1,
            'status-manual': d.status === 2
          }"
        >
          {{ statusTexto(d.status!) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
